<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccc.dao.mapper.SysTenantMapper">


    <update id="modifySysTenant" parameterType="com.ccc.entity.Tenant">
        UPDATE t_sys_tenant
        SET
        tenant_check_status = #{tenantCheckStatus}
        WHERE tenant_id = #{tenantId}
    </update>
    <select id="querySysTenant" resultType="com.ccc.entity.Tenant"
            parameterType="com.ccc.entity.Tenant">
        SELECT * FROM t_sys_tenant
        WHERE
        <if test="tenantName != null and tenantName != ''">
            tenant_name = #{tenantName}
        </if>
        <if test="tenantId != null and tenantId != ''">
            AND tenant_id = #{tenant_id}
        </if>
    </select>
</mapper>